/* ========== OVERVIEW ========== */
.overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* ---------- OVERVIEW CARD (Not started/In progress/Complete Card) ---------- */

/* ===== MAIN CARD ===== */
.parent {
  width: 32rem;
  max-width: 32rem;
  min-width: 25rem;
  background-color: var(--cardBg);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  margin: 2rem 2rem;
}

/* MAIN CARD INFO AND OPTION ITEMS */
.parent .header {
  position: relative;
  display: flex;
  align-items: center;
  height: 6rem;
  border-top-left-radius: 1.5rem;
  justify-content: space-between;
  border-bottom-style: solid;
  color: var(--seperatorColor);
  border-width: 0.1rem;
  margin-bottom: 1rem;
}

/* MAIN CARD TOP LEFT LINE */
.parent .header::before {
  content: '';
  width: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80%;
  border-radius: 0.4rem;
}

.notstarted
.parent .header::before {
    background-color: var(--colorOrange);
}

.inprogress
.parent .header::before {
    background-color: var(--colorYellow);
}

.complete
.parent .header::before {
    background-color: var(--colorGreen);
}

/* MAIN CARD TITLE AND COUNT */
.parent .content {
  display: flex;
  position: relative;
  margin-left: 2rem;
  margin-top: 0.8rem;
}

.parent .title {
  color: var(--colorWhite);
  font-size: 1.6rem;
  font-weight: 700;
}

.parent .count {
  color: var(--colorWhite);
  display: flex;
  position: absolute;
  right: -2.2rem;
  top: -1rem;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 0.2rem;
  font-size: 1.1rem;
  border-radius: 50%;
}

.notstarted
.parent .count {
    background-color: var(--colorOrange);
    box-shadow: 0rem .4rem 1rem rgba(249, 96, 87, .5);
}

.inprogress
.parent .count {
    background-color: var(--colorYellow);
    box-shadow: 0rem .4rem 1rem rgba(255, 172, 47, .5);
}

.complete
.parent .count {
    background-color: var(--colorGreen);
    box-shadow: 0rem .4rem 1rem rgba(9, 169, 79, .5);
}

/* MAIN CARD OPTIONS */
.parent .options {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.parent .icon {
  font-size: 1.4rem;
  padding: 0 0.5rem;
  color: var(--colorWhite);
}

/* TASKS CARD INPROGRESS/PROGRESS/COMPLETE CONTAINER */
.child {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.notstarted .child {
  background-color: var(--colorOrange);
}

.inprogress .child {
  background-color: var(--colorYellow);
}

.complete .child {
  background-color: var(--colorGreen);
}

.child .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem;
}

.child .title {
  color: var(--colorWhite);
  font-weight: 500;
  font-size: 1.4rem;
}

.child .options {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.7rem;
  margin: 0rem;
  border-radius: 0.4rem;
}

.notstarted
.child .options {
    background-color: var(--colorOrangeLight);
}

.inprogress
.child .options {
    background-color: var(--colorYellowLight);
}

.complete
.child .options {
    background-color: var(--colorGreenLight);
}

.child .date {
  color: var(--colorLightWhite);
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.child .icon {
  font-size: 1.4rem;
  margin-right: 0rem;
  color: var(--colorWhite);
}

/* TASK CONTAINER LABELS */
.child .labels {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.child .label {
  font-size: 0.9rem;
  color: var(--colorWhite);
  font-weight: 400;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.notstarted
.child .label {
    background-color: var(--colorOrangeLight);
}

.inprogress
.child .label {
    background-color: var(--colorYellowLight);
}

.complete
.child .label {
    background-color: var(--colorGreenLight);
}

/* IN PROGRESS CONTAINER STATUS AND PROGRESS BAR */
.progress {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.bar {
  background-color: var(--colorYellowLight);
  display: flex;
  align-items: center;
  margin-right: 1rem;
  width: 65%;
  height: 0.4rem;
  border-radius: 0.5rem;
}

.bar__line {
  height: 0.4rem;
  background-color: var(--colorWhite);
  border-radius: 0.5rem;
}

.percentage {
  font-size: 0.9rem;
  color: var(--colorWhite);
}

/* COMPLETED CONTAINER STATUS AND LIKE */
.completed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.completed__left {
  display: flex;
  align-items: center;
}

.completed__text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
}

.completed__date {
  font-size: 1rem;
  font-weight: 600;
  color: var(--colorWhite);
}

.completed__like {
    font-size: 1.6rem;
    color: var(--colorWhite);
    cursor: pointer;
}

.parent .new {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  color: var(--sidebarNavigationTitleTextColor);
  font-size: 1.4rem;
  gap: 0.5rem;
  font-weight: 700;
}
